.container {
  min-height: 100vh;
  overflow-x: hidden;
  @include flexBox(center, center);
  width: 100vw;
  position: relative;
  background-color: color(bg-background);
}
.container::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(calc(-250px - 5vw), -120px);
}
.container::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  transform: translate(calc(250px + 5vw), 150px);
}
.form {
  position: relative;
  z-index: 10;

  @include responsive($esm) {
    width: calc(300px + 15vw);
  }

  min-width: 300px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include flexBox(center, center);
  border-radius: 12px;
  backdrop-filter: blur(25px);
  &-container {
    height: 100%;
    width: 100%;
    h3 {
      color: color(text-primary);
      margin-top: 20px;
      margin-bottom: 20px;
      @include flexBox(center, center);
      gap: 5px;
      text-align: center;
    }
    h2 {
      text-align: center;

      color: color(text-primary);
      font-size: font-size(font-size-medium);
    }
    label {
      display: block;
      font-weight: bold;
      color: color(text-primary);
    }
    p {
      margin-top: 8px;
      color: rgb(11, 3, 5);
    }
    input,
    select,
    button {
      width: 100%;
      padding: calc(10px + 0.2vw);
      margin-top: 5px;
      border: 1px solid #ccc;

      border-radius: 5px;
    }
    input,
    select {
      color: color(text-primary);
      margin-top: 10px;
      background: transparent;
      font-size: font-size(font-size-regular);
    }
    input::placeholder {
      color: color(text-primary);
      font-size: font-size(font-size-regular);
    }
    input:not([value='']) {
      background: transparent;
    }

    button {
      margin-top: 20px;
      background: transparent;
      backdrop-filter: blur(100px);
      font-weight: bold;
      &:hover {
        background: color(btn-primary);
        transition: all 0.2s ease-in-out;
      }
      color: color(text-primary);
      cursor: pointer;
      font-size: font-size(font-size-regular);
    }

    button:disabled {
      background: gray;
    }
    @include responsive($esm) {
      padding: 15px;
    }
    &-input {
      padding: 10px;
      border-radius: 8px;
      margin-top: 15px;
      background-color: rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 0.809);
        box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
        transform: scale(1.15) translateX(30px) translateY(-15px);
        z-index: 20;
        transition: all 0.3s ease-in-out;
        label {
          color: color(text-secondary);
        }
        input,
        select {
          color: color(text-secondary);
          margin-top: 10px;
          font-size: font-size(font-size-regular);
        }
        input::placeholder {
          color: color(text-secondary);
          font-size: font-size(font-size-regular);
        }
        p {
          color: rgb(137, 15, 15);
        }
      }
    }
  }
}
.message {
  color: rgb(208, 221, 208);
  margin: 10px ;
  @include flexBox(start, center);
}
.address {
  padding: 2px;
  background-color: color(bg-background);
  @include flexBox(start, center, column);
  padding-bottom: 100px;
  & h2 {
    color: rgb(207, 196, 196);
    width: 90%;
    font-size: font-size(font-size-medium);
    margin: 20px 0;
  }
  // @include flexBox(center,start);
  &-list {
    display: grid;
    width: 90%;
    margin: auto;
    @include responsive($esm) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include responsive($md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive($lg) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include responsive($xxl) {
      grid-template-columns: repeat(6, 1fr);
    }

    gap: 15px;

    &-item {
      padding: 15px;
      border-radius: 12px;
      line-height: 25px;
      color: color(text-primary);
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10);
    }
  }
}
