// Color variables
$colors: (
  'bg-white': #ffffff,
  'bg-background': #26263a,
  'btn-primary': #0076bd
);
@function color($color-styles) {
  @return map-get($colors, $color-styles);
}

$font-sizes: (
  'font-size-small': calc(1rem + 0.2vw),
  'font-size-regular': calc(12px + 0.3vw),
  'font-size-medium': calc(1.2rem + 1vw),
  'font-size-large': calc(1.5rem + 2vw)
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
}

p {
  font-size: font-size(font-size-regular);
  color: var(--clr-text-primary);
}
